body{

  background: #000046; 
    color: aliceblue;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #C4E0E5;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #C4E0E5;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  margin-top: 4px;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #c5d2d9;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
/* fin nav-bar */
.reseau{
    border: 3px solid #C4E0E5;
    margin: 8px;
    border-radius: 20%;
}
.social{
    display: flex;
    justify-content: right;
   align-items: flex-end;
   align-content: flex-end;
   flex-direction: column;
   flex-wrap: wrap;

}
header{
    margin-top: 200px;
    margin-left: 80px;
    margin-right: 80px;
    border-bottom: 3px solid aliceblue;
    border-right: 3px solid aliceblue;
    border-radius:0px  0px 20px ;
}
header h3{
 font-size: 30px;
 color: gray;
 font-family: cursive;
}
header span{
    font-size: 120px;
    color: white;
}
header button{
    margin-bottom: 50px;
    width: 300px;
    height: 60px;
    font-size: 20px;
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
    border: #000428;

}
section{
    margin-left: 80px;
    margin-right: 80px;

}
/*Section apropos */
.image-content{
    margin-top: 90px;
}
.apropos{
    margin-top: 200px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 15px;
    border-left: 3px solid aliceblue;
    border-top: 3px solid aliceblue;
    border-radius: 20px 0px 0px 0px;
    display: flex;
    justify-content:space-between;
  
}
.apropos img{
    width: 390px;
    height: 390px;
    box-shadow: #C4E0E5;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    margin-left: 130px;
    height: 400px;
    border-radius: 14px;
    left: 120px;
    
    z-index: 400;
    position: absolute;

    
}

.division1{
    width: 390px;
    height: 390px;
    border-radius: 14px;
    transform: rotate(0deg);
    border: 8px solid aliceblue;
    border-radius: 14px;
    position: relative;
    top: 25px;
    left: 95px;
}
.texte-contente{
    margin-top: 90px;
    margin-left: 140px;
    margin-right: 30px;
}
#afficherBtn{
    cursor: pointer;
    width: 300px;
    height: 50px;
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: #000428;
    border-radius: 10px;
    font-size: 24px;
    color: aliceblue;

}
#reduireBtn{
    cursor: pointer;
    width: 300px;
    height: 50px;
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: #000428;
    border-radius: 10px;
    font-size: 24px;
    color: aliceblue;
}
.buton{
    display: flex;
}

.portfolio{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 34px;
}
.portfolio h1{
    border-bottom: 3px solid aliceblue;
    border-left: 2px solid aliceblue;
    padding-left: 20px;
}
.portfolio-contente{
    margin-top: 40px;
}
.portfolio-contente li{
    border-bottom: 2px solid aliceblue;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.projects{
    margin-top: 130px;
    margin-bottom: 120px;
    margin-right: 90px;
    margin-left: 90px;

}
.section-competence .description-project{
  width: 550px;
  border: 2px solid aliceblue;
  padding: 4px;
 
}
.section-competence .description-project {
  border: 2px solid aliceblue;
  margin: 2px;
  padding: 5px;
  vertical-align: middle;
}
.section-competence .description-project span{
  border: 2px solid #4CA1AF;
}
.section-competence .description-project h2{
  border: 2px solid #4CA1AF;
}
.section-competence .description-project h3{
  border: 2px solid #4CA1AF;
}


.project{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}


.decoration{
    width: 400px;
    height: 400px;
    border: 15px solid aliceblue;
    border-radius: 15px;

}


.image-project{
  width: 350px;
}
.image-project img{
    width: 22%;
    height: 44%;
    
    margin-left: 35px;
    margin-top: 40px;
    border: 2px solid aliceblue;
    z-index: 400;
    border-radius: 15px;
    position: absolute;
    box-shadow: -100px -1px -10px  -8px rgba(255, 254, 254, 0.5);

}

.projects span{
    font-size: 120px;
    color: white;
}
.projects h1{
    font-size: 50px;
    color: white;

}


.btn-projects{
    display: flex;
    
    /* vertical-align: middle; */
}
.btn-projects h1{
  width: 500px;
  height: 70px;
  vertical-align: middle;

}
.btn-projects a{
  text-decoration: none;
   
    padding: 10px;
    font-size: 30px;
    color: aliceblue;
    cursor: pointer;
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
    border: #000428;
}

/* Code de navigation */
.tab-content {
    display: none;
  }

  .active {
    display: block;
  }

  .tabs{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  .tab {

    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
  }
  .tab-content{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .tab:hover{
    cursor: pointer;
    color: #000428;
    background: #C4E0E5;
    border-color: #000428;
  }

 /* Section compétences */
.section-competence{
    margin-top: 30px;
}
.section-competence h1{
    display: flex;
    justify-content: center;
    margin: 8px;
    border: 2px solid #4CA1AF;
}
.competence{
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.vide{
  margin-top: 50px;
}
  /* mobil version */

  @media only screen and (max-width: 768px) {
    /* Styles spécifiques pour les petits écrans */

    header{
      margin-top: 100px;
      margin-left: 10px;
      margin-right: 10px;
  }
  header span{
    font-size: 50px;
    color: white;
  }
  header{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 0px ;
    border-right: 0px ;
    border-radius:0px;
}
  .btn-projects h1{
    width: 300px;
    height: 30px;
    vertical-align: middle;
  
  }
  .btn-projects a{
    text-decoration: none;
     
      padding: 10px;
      font-size: 20px;
      color: aliceblue;
      cursor: pointer;
      background: #4CA1AF;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      border-radius: 8px;
      border: #000428;
  }
  .social{
    margin-top: 10px;
    display: flex;
    justify-content: center;
   align-items: flex-end;
   align-content: flex-end;
   flex-direction:row;
   flex-wrap: wrap;

}
section{
  margin-left: 10px;
  margin-right: 10px;

}
.apropos{
 
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 15px;


}
.apropos{

  border-left: 0px ;
  border-top: 0px ;
  border-radius: 0px;
 

}

.apropos{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;

  flex-direction:row;
  flex-wrap: wrap;

}
.apropos img{
  width: 255px;
  height: 255px;
  box-shadow: #C4E0E5;
  border-radius: 30px;
  display: flex;
  justify-content: left;
  margin-left: 40px;
 
  border-radius: 14px;
  left: 10px;
  
  z-index: 10;

  
}
.division1{
  width: 250px;
  height: 250px;
  border-radius: 14px;
  transform: rotate(0deg);
  border: 8px solid aliceblue;
  border-radius: 14px;
  position: relative;
  top: 25px;
  left: 15px;
}
.texte-contente{
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

#afficherBtn{
  cursor: pointer;
  width: 220px;
  height: 50px;
  background: #4CA1AF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: #000428;
  border-radius: 10px;
  font-size: 24px;
  color: aliceblue;

}
#reduireBtn{
  cursor: pointer;
  width: 220px;
  height: 50px;
  background: #4CA1AF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: #000428;
  border-radius: 10px;
  font-size: 24px;
  color: aliceblue;
}

.portfolio{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-size: 24px;
}
.portfolio h1{
  border: 0px ;
  padding-left: 10px;
}
.portfolio-contente{
  margin-top: 40px;
}
.portfolio-contente li{
  border-bottom: 2px solid aliceblue;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.tabs{
  margin-top: 30px;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.tab {

  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
}
.tab-content{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.tab:hover{
  cursor: pointer;
  color: #000428;
  background: #C4E0E5;
  border-color: #000428;
}
.project{
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: 10px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.btn-projects {
  margin-left: 0px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  width:100%;
  background: #4CA1AF;
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
  background: linear-gradient(to right, #C4E0E5, #4CA1AF);
  justify-content: center;
}
.btn-projects h1{
  width: 500px;
  height: 30px;
  vertical-align: middle;

}
.btn-projects a{
  text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: aliceblue;
    cursor: pointer;
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 8px;
    border: #000428;
}
.decoration{
  width: 250px;
  height: 250px;
  border: 10px solid aliceblue;
  border-radius: 15px;

}


.image-project{
width: 350px;
}
.image-project img{
  width: 260px;
  height: 260px;
  
  margin-left: 25px;
  margin-top: 30px;
  border: 1px solid aliceblue;
  z-index: 300;
  border-radius: 15px;
  position: absolute;
  box-shadow: -100px -1px -10px  -8px rgba(255, 254, 254, 0.5);

}

.projects span{
  font-size: 120px;
  color: white;
}
.projects h1{
  font-size: 50px;
  color: white;

}
.section-competence h1{
  margin-left: 10px;
  align-items: center;
}
.section-competence .description-project{
  margin-top: 90px;
  margin-bottom: 150px;
  width: 250px;
  border: 2px solid aliceblue;
  padding: 4px;
 
}
.section-competence .description-project {
  border: 2px solid aliceblue;
  margin: 2px;
  padding: 5px;
  vertical-align: middle;
}
.section-competence .description-project span{
  margin: 20px;
  margin-bottom: 8px;
  border: 0px;
}
.section-competence .description-project h2{
  margin: 20px;
  margin-bottom: 8px;

  border: 0px ;
}

.section-competence .description-project h3{
  margin: 20px;
  border: 0px ;
}

.section-competence h1{
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  margin: 8px;
  border: 0px;
}

.project .description-project{
  margin-bottom: 30px;
  align-items: center;
  width: 250px;
  border: 2px solid aliceblue;
  padding: 4px;
 
}

}

/* Media query pour les appareils de taille maximale 480 pixels (typiquement pour les écrans encore plus petits) */
@media only screen and (max-width: 480px) {
    /* Styles spécifiques pour les écrans encore plus petits */

    body {
        font-size: 12px; /* Ajustez la taille de la police pour les écrans encore plus petits */
    }

    
}

 